<h1>Listing ms_offers</h1>

<table>
  <tr>
    <th>Total</th>
    <th>Batch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ms_offers.each do |ms_offer| %>
  <tr>
    <td><%= ms_offer.total %></td>
    <td><%= ms_offer.batch_id %></td>
    <td><%= link_to 'Show', ms_offer %></td>
    <td><%= link_to 'Edit', edit_ms_offer_path(ms_offer) %></td>
    <td><%= link_to 'Destroy', ms_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ms offer', new_ms_offer_path %>
