<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @ms_offer.total %>
</p>

<p>
  <b>Batch:</b>
  <%= @ms_offer.batch_id %>
</p>


<%= link_to 'Edit', edit_ms_offer_path(@ms_offer) %> |
<%= link_to 'Back', ms_offers_path %>
