<p id="notice"><%= notice %></p>

<p>
  <b>Total:</b>
  <%= @ms_txn.total %>
</p>

<p>
  <b>Batch:</b>
  <%= @ms_txn.batch_id %>
</p>


<%= link_to 'Edit', edit_ms_txn_path(@ms_txn) %> |
<%= link_to 'Back', ms_txns_path %>
