<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @batch.fname %>
</p>

<p>
  <b>Batch type:</b>
  <%= @batch.batch_type %>
</p>


<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
