<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @ms_developer.country %>
</p>

<p>
  <b>Total:</b>
  <%= @ms_developer.total %>
</p>

<p>
  <b>Batch:</b>
  <%= @ms_developer.batch_id %>
</p>


<%= link_to 'Edit', edit_ms_developer_path(@ms_developer) %> |
<%= link_to 'Back', ms_developers_path %>
