<!DOCTYPE html>
<html>
<head>
  <title> Pulse</title>

<%= favicon_link_tag 'orange.jpg', :type => 'image/jpg' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="wrapper">	
<div class="container"> <!--container start-->
	<section id="nav">
		<ul>
			<li ><a href="/">  Home</a> </li>
			<li> <a href="/ah"> App Highlights</a></li>
			<li> <a href="/msft"> Microsoft</a></li>
			<li> <a href="/dx"> Data Exports</a></li>


		</ul>
	</section>

	<section class="content">	 <!--content begins-->
		
		<%= yield %>
	</section>
 <br class="clear"/>
</div>  <!--container end-->
</div>

</body>
</html>



